[submodule "client"]
	path = client
	url = https://github.com/kstephano/fabulous-quiz-game-client.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/kstephano/fabulous-quiz-game-server.git
	branch = main
